<div class="card-container">
  <div class="card">

    <div class="card-front flex flex-col justify-center items-center">
      <img [src]="imageUrl" class="w-20 h-20 mb-3" />
      <h1 class="text-2xl font-bold text-white drop-shadow-md text-center">
        {{ name }}
      </h1>
    </div>

    <!-- BACK -->
    <div class="card-back">
      <h2 class="title">{{ name }}</h2>

      <div class="content-area">
        <p class="whitespace-pre-line">
          {{ content }}
        </p>
      </div>
    </div>

  </div>
</div>