:host {
  display: block;

  .card-container {
    width: 300px;
    height: 380px;
    perspective: 1000px;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }

  .card-front {
    width: 100%;
    height: 100%;
    background: linear-gradient(#090979,#00d4ff );
    transition: filter 0.4s ease;
  }

  .card-back {
    position: absolute;
    inset: 0;
    background: #000;
    color: #fff;
    padding: 24px;
    transform: translateY(100%);
    transition: transform 0.45s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    font-size: 22px;
    font-weight: 700;
    color: #00d4ff;
  }
  
  .content-area {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;

    scrollbar-width: none;        
    -ms-overflow-style: none;      

    &::-webkit-scrollbar {       
      display: none;
    }
  }

  /* HOVER EFFECT */
  .card:hover .card-back {
    transform: translateY(0);
  }

  .card:hover .card-front {
    filter: brightness(0.35);
  }
}
